
<nav class="pull-right">
  <ul class="pagination">
    
    <%if(curPage == 1) {%>
    <li class="disabled"><span>首页</span></li>
    <li class="disabled">
      <a href="#" aria-label="Previous">
        <span aria-hidden="true">上一页</span>
      </a>
    </li>
      <% } else { %>
      <li><a href="/<%=type%>/pages/1">首页</a></li>
      <li>
      <a href="/<%=type%>/pages/<%=curPage-1%>" aria-label="Previous">
        <span aria-hidden="true">上一页</span>
      </a>
      </li>
     <% }%>
  

  <%if((totalPages > 4) && (totalPages-curPage > 2)) {%>
      <%if(curPage == 1) {%>
        <li class="active"><a href="/<%=type%>/pages/1>"><%=1%></a></li>
        <li><a href="/<%=type%>/pages/<%=curPage+1%>"><%=curPage+1%></a></li>
      <%} else {%>
        <li><a href="/<%=type%>/pages/<%=curPage-1%>"><%=curPage-1%></a></li>
        <li class="active"><a href="/<%=type%>/pages/<%=curPage%>"><%=curPage%></a></li>
      <%}%>
      <li><span>...</span></li>
      <li><a href="/<%=type%>/pages/<%=totalPages-1%>"><%=totalPages-1%></a></li>
      <li><a href="/<%=type%>/pages/<%=totalPages%>"><%=totalPages%></a></li>
  <%}else if ((totalPages > 4) && (totalPages-curPage <= 2) && (curPage!=1)){%>
      <li><a href="/<%=type%>/pages/<%=1%>"><%=1%></a></li>
      <li><span>...</span></li>
      <% for(var j=totalPages-2; j <= totalPages; j++) {%>
      <%if(j == curPage) {%>
          <li class="active"><a href="/<%=type%>/pages/<%=j%>"><%=j%></a></li>
        <% } else {%>
          <li><a href="/<%=type%>/pages/<%=j%>"><%=j%></a></li>
        <%}%>
    <% } %>
  <%} else {%>
    <% for(var i=1; i <= totalPages; i++) {%>
      <%if(i == curPage) {%>
          <li class="active"><a href="/<%=type%>/pages/<%=i%>"><%=i%></a></li>
        <% } else {%>
          <li><a href="/<%=type%>/pages/<%=i%>"><%=i%></a></li>
        <%}%>
    <% } %>
  <%}%>


    <%if(curPage == totalPages) {%>
      <li class="disabled">
        <a href="#" aria-label="Next">
          <span aria-hidden="true">下一页</span>
        </a>
      </li>   
      <li class="disabled"><span>末页</span></li>
    <% } else { %>
	   	<li>
        <a href="/<%=type%>/pages/<%=curPage+1%>" aria-label="Next">
          <span aria-hidden="true">下一页</span>
        </a>
      </li>
      <li><a href="/<%=type%>/pages/<%=totalPages%>">末页</a></li>
    <% }%>

  
  </ul>
</nav>